<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [14]:
# You code here
data["sex"].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [50]:
# You code here
data[data["sex"] == "Female"]["age"].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [64]:
# You code here
(data["native-country"] == "Germany").sum() / data.shape[0] * 100

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [60]:
# You code here
rich = data[data["salary"] == ">50K"]["age"]
poor = data[data["salary"] == "<=50K"]["age"]
print(
    "The average age of the rich: {}+-{} years, poor: {}+-{} years.".format(
    round(rich.mean(), 1),
    round(rich.std(), 1),
    round(poor.mean(), 1),
    round(poor.std(), 1)
    )
)

The average age of the rich: 44.2+-10.5 years, poor: 36.8+-14.0 years.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [65]:
# You code here
data[data["salary"]==">50K"]["education"].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [67]:
# You code here
data.groupby(["race", "sex"]).describe()

                               age                        ...  hours-per-week
                             count       mean        std  ...             50%   75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...            40.0  40.0  84.0
                   Male      192.0  37.208333  12.049563  ...            40.0  45.0  84.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...            40.0  40.0  99.0
                   Male      693.0  39.073593  12.883944  ...            40.0  45.0  99.0
Black              Female   1555.0  37.854019  12.637197  ...            40.0  40.0  99.0
                   Male     1569.0  37.682600  12.882612  ...            40.0  40.0  99.0
Other              Female    109.0  31.678899  11.631599  ...            40.0  40.0  65.0
                   Male      162.0  34.654321  11.355531  ...            40.0  40.0  98.0
White              Female   8642.0  36.811618  14.329093  ...            40.0  40.0  99.0
                   Male    19174.0  39.652498  13.436029  ...            40.0  50.0  99.0

[10 rows x 48 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [76]:
# You code here
# Married man
data[(data["sex"] == "Male") 
     & (data["marital-status"].str.startswith("Married"))
    ]["salary"].value_counts(normalize=True)

<=50K    0.559486
>50K     0.440514
Name: salary, dtype: float64

In [77]:
# Single man
data[(data["sex"] == "Male") 
     & ~(data["marital-status"].str.startswith("Married"))
    ]["salary"].value_counts(normalize=True)

<=50K    0.915505
>50K     0.084495
Name: salary, dtype: float64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [97]:
# You code here
max_hour = data["hours-per-week"].max()
max_hour_pp = data[data["hours-per-week"] == max_hour]
num_max_hour = max_hour_pp.shape[0]
max_hour_pp[max_hour_pp["salary"]].shape[0] / num_max_hour

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [127]:
# You code here
grouped_data = data.groupby(["native-country", "salary"])["hours-per-week"].mean()
grouped_data.loc[('Japan', slice(None))]

native-country  salary
Japan           <=50K     41.000000
                >50K      47.958333
Name: hours-per-week, dtype: float64